<mat-grid-list cols=1 rowHeight="300px">
    <mat-grid-tile>
        <div class="grid-tile">
            <h1>Simplicity in Quality Healthcare</h1>
            <h3>Our Mission</h3>
            <p>
                IkshanaHealth is on a mission to make quality healthcare affordable and accessible for over a billion+ Indians. We believe in empowering our users with the most accurate, comprehensive, and curated information and care, enabling them to make better healthcare decisions.
            </p>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="500px" class="grid-list-color">
    <div class="grid-tile-2">
    <mat-grid-tile>
        <div class="grid-tile">
            <mat-card>
                <mat-card-header>
                    <div class="grid-tile">
                        <mat-card-title>Doctors</mat-card-title>
                        <img mat-card-image src="../../../assets/images/doctors.jpg" />
                        <mat-card-content>
                            <p>
                                Mollit fugiat nulla aliquip adipisicing sit Lorem cillum id labore dolore labore quis quis. Incididunt reprehenderit consequat tempor consectetur esse esse. Quis magna cupidatat sint reprehenderit cupidatat do. Lorem deserunt voluptate sint culpa aute id minim.
                            </p>
                        </mat-card-content>
                    </div>
                </mat-card-header>
            </mat-card>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-tile">
            <mat-card>
                <mat-card-header>
                    <div class="grid-tile">
                        <mat-card-title>Caretakers</mat-card-title>
                        <img mat-card-image src="../../../assets/images/caretakers.png" />
                        <mat-card-content>
                            <p>
                                Mollit fugiat nulla aliquip adipisicing sit Lorem cillum id labore dolore labore quis quis. Incididunt reprehenderit consequat tempor consectetur esse esse. Quis magna cupidatat sint reprehenderit cupidatat do. Lorem deserunt voluptate sint culpa aute id minim.
                            </p>
                        </mat-card-content>
                    </div>
                </mat-card-header>
            </mat-card>
        </div>
    </mat-grid-tile>
</div>
    
</mat-grid-list>
<app-footer></app-footer>
