<div class="main-content padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card doctor-profile-card-full">
          <div class="card-body1 ">
            <div class="row justify-content-center">
              <ng-container *ngIf="doctor.gender  == 'female', then femaleimg; else maleimg">

              </ng-container>
              <ng-template #maleimg>
                <img src="../../../assets/images/male1.png" class="img-radius">
              </ng-template>
              <ng-template #femaleimg>
                <img src="../../../assets/images/female1.png" class="img-radius">
              </ng-template>
            </div>
            <div class="row justify-content-center">
              <h2 class="card-title">Welcome {{doctor.name}} </h2>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-4">
                <a mat-raised-button id="doctor" (click)="openDialog()">Edit</a>
              </div>
              <div class="col-lg-4">
                <a mat-raised-button id="doctor" routerLink="/doctordashboard">Home</a>
              </div>
            </div>

            <div class="row justify-content-center">
              <h2 style=" color: white;">Facilities</h2>
            </div>
            <div *ngFor="let facility of facilities">
              <h6 class="text-muted f-w-400">{{facility}}</h6>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-8 ">
        <div class="card">
          <div class="card-header card-header-danger" style=" color: white;">
            <h2 class="card-category">Your Info</h2>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">Full Name</p>
                  <h6 class="text-muted f-w-400">{{doctor.name}}</h6>
                </div>
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">Email Id</p>
                  <h6 class="text-muted f-w-400">{{doctor.emailId}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">Phone Number</p>
                  <h6 class="text-muted f-w-400">{{doctor.phoneNumber}}</h6>
                </div>
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">Password</p>
                  <h6 class="text-muted f-w-400" type="password">{{doctor.password}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">ID Proof</p>
                  <h6 class="text-muted f-w-400">{{doctor.idCard}}</h6>
                </div>
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">Educational Qualification</p>
                  <h6 class="text-muted f-w-400">{{doctor.educationalQualification}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <p class="m-b-10 f-w-600">Date of Birth</p>
                  <h6 class="text-muted f-w-400">{{doctor.dob}}</h6>
                </div>
              </div>
              <div class="row">
                <h3>Address</h3>
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">Clinic/Hospital Name</p>
                  <h6 class="text-muted f-w-400">{{doctor.address.clinicName}}</h6>
                </div>
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">Plot Number</p>
                  <h6 class="text-muted f-w-400">{{doctor.address.plotNo}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">Street</p>
                  <h6 class="text-muted f-w-400">{{doctor.address.street}}</h6>
                </div>
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">City/Town Name</p>
                  <h6 class="text-muted f-w-400">{{doctor.address.town}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">District</p>
                  <h6 class="text-muted f-w-400">{{doctor.address.district}}</h6>
                </div>
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">State</p>
                  <h6 class="text-muted f-w-400">{{doctor.address.state}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">Pincode</p>
                  <h6 class="text-muted f-w-400">{{doctor.address.pinCode}}</h6>
                </div>
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">Gender</p>
                  <h6 class="text-muted f-w-400">{{doctor.gender}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">License Number</p>
                  <h6 class="text-muted f-w-400">{{doctor.licenseNumber}}</h6>
                </div>
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">Specialization</p>
                  <h6 class="text-muted f-w-400">{{doctor.specialization}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">Total Experience</p>
                  <h6 class="text-muted f-w-400">{{doctor.totalExperience}}</h6>
                </div>
                <div class="col-md-6">
                  <p class="m-b-10 f-w-600">Fees</p>
                  <h6 class="text-muted f-w-400">{{doctor.fees}}</h6>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>