<mat-grid-list cols="1" rowHeight="200px">
    <mat-grid-tile>
        <div class="grid-tile">
            <h1>Contact us</h1>
            <p>Have questions about our products, support services, or anything else? Let us know and we’ll get back to you.</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="600px">
    <mat-grid-tile>
        <div class="grid-tile">
            <h2>Our Contact id: </h2>
            <p>ikshanahealth@gmail.com</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-tile">
            <h2>Our branches:</h2>
            <p>
                IkshanaHealth Pvt. Ltd. <br>
                E-City, Phase-1,
                Bangalore, 
                Karnataka, India
            </p>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<app-footer></app-footer>
