<div class="parent">
    <h1><b>Slot Provider</b></h1>
    <div class="container">

        <form [formGroup]="form" (ngSubmit)=onSubmit() align="center">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">

                    <mat-form-field class="mr-3" floatLabel="auto" hideRequiredMarker appearance="outline"
                        [style.width.px]=327>
                        <mat-label style="color: white;">Date of Booking</mat-label>
                        <input matInput [matDatepicker]="myDatePicker" [matDatepickerFilter]="myHolidayFilter" formControlName="appDate" [min]="date">
                        <mat-datepicker-toggle [for]="myDatePicker" matSuffix style="color: white;"></mat-datepicker-toggle>
                        <mat-datepicker #myDatePicker startView="month"></mat-datepicker>
                    </mat-form-field>
                    <button type="submit" class="ml-3" mat-raised-button color="submit">Add Slot</button>
                    <button type="button" *ngIf="isSubmitted" (click)="onFinalSubmit()" class="ml-3" mat-raised-button color="submit" [routerLink]="['/caretakerdashboard']">Submit Slots</button>
                    <br />
                </div>
                <div class="col-lg-3">
                    <br />
                </div>
            </div>
        </form>
        <br>
        <br>
    </div>
    <div class="container w-50 pl-5">
        <div class="row">
            <ng-container *ngIf="isSubmitted, then slots; else err" align="center">
                Welcome!!
            </ng-container>
            <ng-template #slots>
                <h2 align="center">Selected Slots</h2>
                <hr />
                <button mat-raised-button class="mb-3" color="success" *ngFor="let slot of availableSlots"> {{slot.date-1 | date}}</button>
            </ng-template>
            <ng-template #err>
                <h2 align="center">Select the slots you would like to provide</h2>
            </ng-template>
        </div>
    </div>
</div>