<app-navbar></app-navbar>

<router-outlet></router-outlet>
<!-- <app-doctor></app-doctor>
<app-doctor></app-doctor>
<app-caretaker></app-caretaker>
<app-caretaker-dashboard></app-caretaker-dashboard>
<app-caretaker-profile></app-caretaker-profile> -->
<!-- <app-doctor></app-doctor>
<app-caretaker></app-caretaker> -->
<!-- <app-doctor></app-doctor>
<app-caretaker></app-caretaker>-->
<!-- <app-doctor-dashboard></app-doctor-dashboard>
<app-doctor-profile></app-doctor-profile> -->

 

<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->