.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }

  .mat-submit{
    background-color: #198875;
    color: #fff;
  }

  .mat-success{
    background-color: #d8e9dc !important;
    color: rgb(0, 0, 0);
    
  }

  .mat-card{
    background-color: #198875 !important;
  }

  h3{
    border-top: solid white;
    padding-top: 5px;
    color: #fff;
  }

  ::placeholder{
    color: white;
    opacity: 1;
  }
  