/* Heading of stepper */
div.container{
    margin: 0px 40px;
}
.fill-remaining-space{
    flex: 1 1 auto;
}


/* First step css */
.container #heading{
    display: block;
    text-align: center;
    width: 100%;
    height: 20%;
    /* background-color: rgb(15, 15, 15);
    color: white; */
}
.first-container{
    display: block;
    /* background-color: rgb(173, 166, 166); */
    width:100%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin-left: auto;
    margin-right: auto; */
}
p>mat-form-field{
    padding: 0;
    width:100%;
    margin-left: 40px;
    margin-right: 40px;
}
form{
    display: block;
    margin-left: 30px;
    margin-right: 30px;
}
mat-form-field > input{
    display: block;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}
.fields{
    padding: 0;
    margin: 0 auto;
}
#btn-container {
    display: flex;
    padding: 0 18px 18px 18px;
    width: 100%;
    /* background-color: rgb(68, 97, 226);
    color: white; */
    margin: 0;
    /* text-align: center; */
   
    
    align-items: center;
    justify-content: center;
}

/* Fourth step */
.item2 {
    width: 100px;
    display: block;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
    align-self: flex-end;
    background-color:   #36af9b;
    border-color: #36af9b;
    border-radius: 10px;

  }
  .inside {
    display: block;
    height: 80px;
  }
  .cont {
    text-align: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(247, 243, 243);
    border-radius: 10px;
    height: 200px;
  }
  .item {
    background-color:   #36af9b;
    border-color: #36af9b;
    border-radius: 10px;
  }

  /* Next button */
  #third-step{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-right: 30px;
}
#heading.container{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 250;
}
mat-card-header{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 250;
    display: block;
    margin: 0 auto;
    width: 80%;
}
img{
    display: block;
    margin: 0 auto;
    width: 210px;
    height: 140px;
    margin-left: 80px;
    text-align: center;
}
#third-step{
    display: block;
    margin: 0 auto;
    float: right;
    margin-top: 50px;
    margin-right: 30px;
}
#fourth-step{
    display: block;
    margin: 0 auto;
    float: left;
    margin-top: 50px;
    margin-left: 30px;
}
/* mat-card{
    background: linear-gradient(#198875,white);
} */
mat-form-field{
    color: black;    
}

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black!important;
    
}