<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <img src="../../../assets/images/GreenTick1.png" style="width: 100px;height: 100px; margin-left:130px">
        </div>
        <div class="card-body">
             <div class="content">
                 <h3 style="margin-left: 120px; font-size:xx-large;"><b>Success</b></h3>
                 
                 <h3 style="margin-left:50px">Your Payment has been Confirmed</h3>
             </div>
            <button (click)="Successclose()" [routerLink]="['/home']" mat-raised-button color="success"  style="margin-left: 140px;">Ok</button>
    </div>
    </div>
</div>   