<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <img src="../../../assets/images/PaymentFaileddownload.png" style="width: 100px;height: 100px; margin-left:130px">
        </div>
        <div class="card-body">
             <div class="content">
                 <h3 style="margin-left: 140px; font-size:xx-large;"><b>Failed</b></h3>
                 
                 <h3 style="margin-left:100px">Your Payment failed</h3>
             </div>
            <button (click)="closeDialog()" [routerLink]="['/book-appointment']" mat-raised-button color="success"  style="margin-left: 140px;">Try Again</button>
    </div>
    </div>
</div>   