<!-- <div class="container">
    <img src="../../../assets/images/bg.jpg" alt="Error loading image">
    <button class="btn">Button</button>
</div>proportion:string="25" -->

<!-- <img src="../../../assets/images/docto-homepage-1.jpg" /> -->
<!-- carousel -->
<!-- <mat-carousel timings="250ms ease-in" [autoplay]="true" interval:string="5000" color="primary" 
	slides:string="2" [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" 
	orientation="ltr" slideHeight="50%" class="carousel">

    <mat-carousel-slide #matCarouselSlide image="../../../assets/images/bg.jpg"
		overlayColor="#00000040" [hideOverlay]="false" width="100vw">
            <h2> THE BEST DOCTORS!  THE BEST CARETAKERS!</h2>
            <p>We provide you the smooth, hasslefree and friendly services. We assure you the best experience and throughout services</p>
            <div class="register-buttons">
                <div class="item" >-->
<!-- <a class="doctor" routerLink="/doctor"> -->
<!-- <img src="../../../assets/images/doctor-register-button.png" height="100%" width="100%"/> -->

<!-- <a mat-raised-button id="doctor" routerLink="/doctor">Want to register as doctor?</a>
                        <a mat-raised-button id="caretaker" routerLink="/caretaker">Looking for caretaker job?</a> -->
<!-- </a> -->
<!-- </div></div>
        </mat-carousel-slide>

    <mat-carousel-slide #matCarouselSlide image="../../../assets/images/bg2.jpg"
		overlayColor="#00000040" [hideOverlay]="false"  width="100vw">
            <h2 style="margin-top: 100px; color:white">Say no to long waiting hours for doctor's bookAppointment</h2>
            <p id="second">Now no more need to wait in long ended queues. No need to go anywhere to book appointments. At the comfort of your home, explore the varieties and choose the best according to your need.</p>
            <div class="register-buttons">
                <div class="item" style=" margin-bottom: 30px; margin-left: 100px; margin-top: 25px;"> -->
<!-- <a class="doctor" routerLink="/doctor"> -->
<!-- <img src="../../../assets/images/doctor-register-button.png" height="100%" width="100%"/> -->

<!-- <a mat-raised-button id="doctor" routerLink="/doctor">Want to register as doctor?</a>
                        <a mat-raised-button id="caretaker" routerLink="/caretaker">Looking for caretaker job?</a> -->
<!-- </a> -->
<!-- <--</div></div> -->
<!-- </a> -->
<!-- <--</div></div> -->




<!-- First Section -->
<div class="first-section">
    <mat-carousel timings="250ms ease-in" [autoplay]="true" interval:string="5000" style="color: white;" slides:string="2"
        [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" orientation="ltr"
        slideHeight="50%" class="carousel">

        <mat-carousel-slide #matCarouselSlide image="../../../assets/images/bg.jpg" overlayColor="#00000040"
            [hideOverlay]="false" width="100vw">
            <h2 style="margin-top: 100px; color:white; text-transform: capitalize;"> The Best Doctors&nbsp;<span style="color: #198875;">!&nbsp;</span> The Best Caretakers&nbsp;<span style="color: #198875;">! &nbsp;</span></h2>
            <p style="color: #3c4043;">Here is the home for the best doctors and caretakers you may expect. We'll try our best to realize your
                expectation or deliver you even better.</p>
            <div class="register-buttons">
                <div class="item">
                    <!-- <a class="doctor" routerLink="/doctor"> -->
                    <!-- <img src="../../../assets/images/doctor-register-button.png" height="100%" width="100%"/> -->

                    <a mat-raised-button id="doctor" routerLink="/doctor">Want to register as doctor?</a>
                    <a mat-raised-button id="caretaker" routerLink="/caretaker">Looking for caretaker job?</a>
                    <!-- </a> -->
                </div>
            </div>
        </mat-carousel-slide>

        <mat-carousel-slide #matCarouselSlide image="../../../assets/images/bg2.jpg" overlayColor="#00000040"
            [hideOverlay]="false" width="100vw">
            <h2 style="margin-top: 100px; color:white">Say no to long waiting hours for doctor's appointment</h2>
            <p id="second">Now gone the time when you have to wait in long queries to book appointment and then wait in
                the hospital lobby for your turn to come. Book appointments at the comform of your time and get the
                exact day and time for your turn</p>
            <div class="register-buttons">
                <div class="item" style=" margin-bottom: 30px; margin-left: 100px; margin-top: 25px;">
                    <!-- <a class="doctor" routerLink="/doctor"> -->
                    <!-- <img src="../../../assets/images/doctor-register-button.png" height="100%" width="100%"/> -->

                    <a mat-raised-button id="doctor" routerLink="/doctor">Want to register as doctor?</a>
                    <a mat-raised-button id="caretaker" routerLink="/caretaker">Looking for caretaker job?</a>
                    <!-- </a> -->
                </div>
            </div>
        </mat-carousel-slide>
    </mat-carousel>
</div>




<!-- flip cards -->
<!-- <mat-grid-list cols="3" rowHeight="500px" class="flipcards">
    <mat-grid-tile>
        <div class='card-container'>
            <div class='flippable-card' [ngClass]="{'flipped':flipped1}" (click)='flipped1 = !flipped1'>
                <mat-card class=''>
                    <img mat-card-image src="../../../assets/images/homepage-1.jpg"  height="100%" width="100%"/>
                </mat-card>

                <mat-card class="text">
                    <mat-card-title><h2>We Care, We Provide</h2></mat-card-title>
                </mat-card>
        
                <mat-card class='back'>
                    <mat-card-title><h3>We Care. We Provide.</h3></mat-card-title>
                    <mat-card-content>
                        <p>Goodbye doubts,</p>
                        <p>Say Hello to your nearest doctor.</p>
                        <p>24/7 Video consultation.</p>
                    </mat-card-content>
                </mat-card>
            </div>  
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class='card-container'>
            <div class='flippable-card' [ngClass]="{'flipped':flipped2}" (click)='flipped2 = !flipped2'>
                <mat-card class=''>
                    <img mat-card-image src="../../../assets/images/homepage-4.jpg"  height="100%" width="100%"/>
                </mat-card>
                
                <mat-card class="text">
                    <mat-card-title><h2>Our Offerings</h2></mat-card-title>
                </mat-card>

                <mat-card class='back'>
                    <mat-card-title><h3>Our Offerings.</h3></mat-card-title>
                    <p>Online bookAppointment booking.</p>
                    <p>Online consultation.</p>
                    <p>Affordable service.</p>
                    <p>Caretaker hiring for flexible hours.</p>
                </mat-card>
            </div>  
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class='card-container'>
            <div class='flippable-card' [ngClass]="{'flipped':flipped3}" (click)='flipped3 = !flipped3'>
                <mat-card class=''>
                    <img mat-card-image src="../../../assets/images/homepage-5.jpg"  height="100%" width="100%"/>
                </mat-card>

                <mat-card class="text">
                    <mat-card-title><h2>Benefits</h2></mat-card-title>
                </mat-card>
        
                <mat-card class='back'>
                    <mat-card-title><h3>Benefits you get</h3></mat-card-title>
                    <p>Family plan.</p>
                    <p>Location based search.</p>
                    <p>Certified doctors/caretakers.</p>
                    <p>Health reminder.</p>
                </mat-card>
            </div>  
        </div>
    </mat-grid-tile>
</mat-grid-list> -->

<!-- Second section -->
<div class="center">
    <h2 style="color: white;">Consult top doctors online for any health concern</h2>
</div>
<h4 id="sub-head"  style="color: white;">Private online consultations with verified doctors in all specialists</h4>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <h2>Our valuable clients</h2> -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="color: black;"
                timings="150ms ease-in">
               
                <ol class="carousel-indicators" style="color: black;">
                    <li data-slide-to="0" class="active"></li>
                    <li data-slide-to="1"></li>
                    <li data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3">
                                <!-- <mat-card> -->
                                <div style="text-align: center;">
                                    <img src="../../../assets/images/cold.png">
                                </div>
                                <h4 style="text-align: center; color: white;">Cold, cough or fever</h4>
                                <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>

                                <!-- </mat-card> -->
                            </div>
                            <div class="col-md-3">
                                <div class="single-box">
                                    <!-- <mat-card> -->
                                    <div style="text-align: center;">
                                        <img src="../../../assets/images/child.png">
                                    </div>
                                    <h4 style="text-align: center; color: white;">Child not feeling well</h4>
                                    <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>

                                    <!-- </mat-card> -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-box">
                                    <!-- <mat-card> -->
                                    <div style="text-align: center;">
                                        <img src="../../../assets/images/depression.png">
                                    </div>
                                    <h4 style="text-align: center; color: white;">Depression or anxiety</h4>
                                    <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>

                                    <!-- </mat-card> -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-box">
                                    <!-- <mat-card> -->
                                    <div style="text-align: center;">
                                        <img src="../../../assets/images/overweight.png">
                                    </div>
                                    <h4 style="text-align: center; color: white;">Overweight and obesity</h4>
                                    <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>

                                    <!-- </mat-card> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="single-box">
                                    <!-- <mat-card> -->
                                    <div style="text-align: center;">
                                        <img src="../../../assets/images/food.png">
                                    </div>
                                    <h4 style="text-align: center; color: white;">Food poisoning</h4>
                                    <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>

                                    <!-- </mat-card> -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-box">
                                    <!-- <mat-card> -->
                                    <div style="text-align: center;">
                                        <img src="../../../assets/images/cervical.png">
                                    </div>
                                    <h4 style="text-align: center; color: white;">Cervical</h4>
                                    <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>

                                    <!-- </mat-card> -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-box">
                                    <!-- <mat-card> -->
                                    <div style="text-align: center;">
                                        <img src="../../../assets/images/acne.png">
                                    </div><br>
                                    <h4 style="text-align: center; color: white;">Acne issues</h4>
                                    <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>

                                    <!-- </mat-card> -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-box">
                                    <!-- <mat-card> -->
                                    <div style="text-align: center;">
                                        <img src="../../../assets/images/asthma.png">
                                    </div>
                                    <h4 style="text-align: center; color: white;">Asthma problem</h4>
                                    <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>

                                    <!-- </mat-card> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="single-box">
                                    <!-- <mat-card> -->
                                    <div style="text-align: center;">
                                        <img src="../../../assets/images/hearing.png">
                                    </div>
                                    <h4 style="text-align: center; color: white;">Hearing loss</h4>
                                    <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>

                                    <!-- </mat-card> -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-box">
                                    <!-- <mat-card> -->
                                    <div style="text-align: center;">
                                        <img src="../../../assets/images/malnutrition.png">
                                    </div>
                                    <h4 style="text-align: center; color: white;">Malnutrition</h4>
                                    <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>

                                    <!-- </mat-card> -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-box">
                                    <!-- <mat-card> -->
                                    <div style="text-align: center;">
                                        <img src="../../../assets/images/pregnancy.png">
                                    </div>
                                    <h4 style="text-align: center; color: white;">Pregnancy related issues</h4>
                                    <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>

                                    <!-- </mat-card> -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-box">
                                    <!-- <mat-card> -->
                                    <div style="text-align: center;">
                                        <img src="../../../assets/images/dehydration.png">
                                    </div>
                                    <h4 style="text-align: center; color: white;">Dehydration</h4>
                                    <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>

                                    <!-- </mat-card> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"
                    style="color: black;">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"
                    style="color: black;">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Second section -->
<!-- <div class="center">
    <h2>Consult top doctors online for any health concern</h2>
</div>
<h4 id="sub-head">Private online consultations with verified doctors in all specialists</h4>
<div fxLayout="row wrap" fxLayoutGap="30px grid">
    <div fxFlex="33%" fxFlex.xs="100%">
        <div style="text-align: center;">
            <img src="../../../assets/images/cold.jpg">
        </div>
        <h4 style="text-align: center;">Cold, cough or fever</h4>
        <h3 style="color:   #83d3c3; text-align: center;">CONSULT NOW</h3>
    </div>
    <div fxFlex="33%" fxFlex.xs="100%">
        <div style="text-align: center;">
            <img src="../../../assets/images/child.jpg">
        </div>
        <h4 style="text-align: center;">Child not feeling well</h4>
        <h3 style="color: #83d3c3; text-align: center;">CONSULT NOW</h3>
    </div>
    <div fxFlex="33%" fxFlex.xs="100%">
        <div style="text-align: center;">
            <img src="../../../assets/images/depression.jpg">
        </div>
        <h4 style="text-align: center;">Depression or anxiety</h4>
        <h3 style="color: #83d3c3; text-align: center;">CONSULT NOW</h3>
    </div>
</div> -->

<!-- Third section -->
<div class="center">
    <h2 style=" color: white;"> Book an appointment for an in-clinic consultation</h2>
</div>
<h4 id="sub-head" style=" color: white;">Find experienced doctors across all specialities</h4><br>
<div fxLayout="row wrap" fxLayoutGap="30px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.md="50%">
        <mat-card class="mat-elevation-z4 flip-card">
            <div class="flip-card-inner card-content-wrapper">
                <div class="flip-card-front card-content-1">
                    <img src="../../../assets/images/dentist-home.jpg">
                </div>
                <div class="flip-card-back card-content-2">
                    <h3>Dentist</h3>
                    <h4>Teething trouble? Schedule a dental checkup at instant</h4>
                </div>  
            </div>
            <div align="center">
            <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>
            </div>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.md="50%">
        <mat-card class="mat-elevation-z4 flip-card">
            <div class="flip-card-inner card-content-wrapper">
                <div class="flip-card-front card-content-1">
                    <img src="../../../assets/images/gynaecologist-home.jpg">
                </div>
                <div class="flip-card-back card-content-2">
                    <h3>Gynecologist</h3>
                    <h4>Explore for women's health, pregnancy and infertility treatments</h4>
                </div>
            </div>
            <div align="center">
                <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>
            </div>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.md="50%">
        <mat-card class="mat-elevation-z4 flip-card">
            <div class="flip-card-inner card-content-wrapper">
                <div class="flip-card-front card-content-1">
                    <img src="../../../assets/images/dietitian.jpg">
                </div>
                <div class="flip-card-back card-content-2">
                    <h3>Dietitian</h3>
                    <h4>Get guidance on eating right, weight management and sports nutrition</h4>
                </div>
            </div>
            <div align="center">
                <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>
            </div>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.md="50%">
        <mat-card class="mat-elevation-z4 flip-card">
            <div class="flip-card-inner card-content-wrapper">
                <div class="flip-card-front card-content-1">
                    <img src="../../../assets/images/physiotherapy.jpg">
                </div>
                <div class="flip-card-back card-content-2">
                    <h3>Physiotherapy</h3>
                    <h4>Pulled a muscle? Get it treated by a trained physiotherapist</h4>
                </div>
            </div>
            <div align="center">
                <a mat-button routerLink="/viewdoctors"><h3 style="color: rgb(68, 208, 212); text-align: center;">CONSULT NOW</h3></a>
            </div>
        </mat-card>
    </div>
</div>
<br>
<!-- <mat-grid-list cols="2" rowHeight="480px">
    <mat-grid-tile>
        <div class="home-col">
            <h1>We Care. We Provide.</h1>
            <p>Goodbye doubts,</p>
            <p>Say Hello to your nearest doctor.</p>
            <p>24/7 Video consultation.</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../../assets/images/docto-homepage-1.jpg" alt="" height="auto" width="60%">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../../assets/images/homepage-4.jpg" alt="" height="auto" width="60%">
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="home-col">
            <h1>Our Offerings</h1>
            <p><mat-icon class="check-icon">check  </mat-icon>Online doctor consultations with all specialists.</p>
            <p><mat-icon class="check-icon">check  </mat-icon>Online bookAppointment booking at leading hospitals and clinics.</p>
            <p><mat-icon class="check-icon">check  </mat-icon>Family plan</p>
            <p><mat-icon class="check-icon">check  </mat-icon>Caretaker hiring (flexible working hours)</p>
        </div>
    </mat-grid-tile>
</mat-grid-list> -->

<!-- <mat-grid-list cols="1" rowHeight="200px" class="home-location-color">
    <mat-grid-tile>
        <div class="home-col-location">
            <p>Search Doctors and Caretakers based on location.</p>
            <button mat-raised-button>Location</button>
        </div>
    </mat-grid-tile>
</mat-grid-list> -->

<!-- for registration -->
<!-- <h2>Join our family!</h2>
<mat-grid-list cols="3" rowHeight="300px" class="registration">
    <mat-grid-tile>
        <div class="register-col">
            <img src="../../../assets/images/registration-user.png" alt="" height="auto" width="30%">
            <p><button mat-raised-button class="btn">Register</button></p>
            <p>Register as a User/Patient and get all the benefits of 24x7 online consultations and Caretaker hiring.</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="register-col">
            <img src="../../../assets/images/registration-doctor.jpeg" alt="" height="auto" width="30%">
            <p><button mat-raised-button class="btn">Register</button></p>
            <p>Register as a Doctor and reach every patients in need of instant consultations.</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="register-col">
            <img src="../../../assets/images/registration-caretaker.png" alt="" height="auto" width="30%">
            <p><button mat-raised-button class="btn">Register</button></p>
            <p>Register as a Caretaker and help people in need in a flexible job hours.</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" class="home-story" rowHeight="130px">
    <mat-grid-tile>
        <div class="home-col-story">
            <h2>What people say about us!</h2>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" class="home-story" rowHeight="200px">
    <mat-grid-tile>
        <div class="home-col-story">
            <p><i>"Great platform, helped me alot in getting instant consultation."</i></p>
            <p style="text-align: end;">-Chris Hemsworth</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="home-col-story">
            <p><i>"Affordable and trustworthy. Right platform for Indians."</i></p>
            <p style="text-align: end;">-Jim Carrey</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div class="home-col-story">
            <p><i>"My search for a good gynaec ended here"</i></p>
            <p style="text-align: end;">-Kate Winslet</p>
        </div>
    </mat-grid-tile>
</mat-grid-list> -->



<!--Fourth Section-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 style=" color: white;">Our valuable clients</h2><br><br>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="color: black;">
                <ol class="carousel-indicators" style="color: black;">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-card>
                                    <mat-icon aria-hidden="true" aria-label="Quotation icon"
                                        style="float:right;color:grey">format_quote</mat-icon>
                                    <mat-card-content>Have faced some glitch while using it. But anyway it's a start. I
                                        am sure it will constantly improve</mat-card-content>
                                    <mat-card-header>
                                        <mat-card-title>Manpreet Singh</mat-card-title>
                                        <mat-card-subtitle>Hockey</mat-card-subtitle>
                                        <img mat-card-sm-image src="../../../assets/images/icons8-popeye-50.png"
                                            alt="Popeye">
                                    </mat-card-header>
                                    <mat-card-footer style="text-align: center;margin-top: 2px;">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon" class="checked">
                                            star_rate</mat-icon>
                                        <mat-icon aria-hidden="false" aria-label="Example home icon" class="checked">
                                            star_rate</mat-icon>
                                        <mat-icon aria-hidden="false" aria-label="Example home icon" class="checked">
                                            star_rate</mat-icon>
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">
                                            star_rate</mat-icon>
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">
                                            star_rate</mat-icon>
                                    </mat-card-footer>
                                </mat-card>
                            </div>
                            <div class="col-md-4">
                                <div class="single-box">
                                    <mat-card>
                                        <mat-icon aria-hidden="true" aria-label="Quotation icon"
                                            style="float:right;color:grey">format_quote</mat-icon>
                                        <mat-card-content>Best experience ever. Visit this platform and experience it
                                            yourself
                                        </mat-card-content>
                                        <mat-card-header>
                                            <mat-card-title>Krishna Nagar</mat-card-title>
                                            <mat-card-subtitle>Badminton</mat-card-subtitle>
                                            <img mat-card-sm-image src="../../../assets/images/icons8-tom-50.png"
                                                alt="Tom">
                                        </mat-card-header>
                                        <mat-card-footer style="text-align: center;margin-top: 2px;">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                        </mat-card-footer>
                                    </mat-card>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-box">
                                    <mat-card>
                                        <mat-icon aria-hidden="true" aria-label="Quotation icon"
                                            style="float:right;color:grey">format_quote</mat-icon>
                                        <mat-card-content>Looking for the physiotherapist appointment and get it only
                                            with the ease of my mobile.
                                        </mat-card-content>
                                        <mat-card-header>
                                            <mat-card-title>Pramod Bhagat</mat-card-title>
                                            <mat-card-subtitle>Badminton</mat-card-subtitle>
                                            <img mat-card-sm-image
                                                src="../../../assets/images/icons8-spongebob-squarepants-50.png"
                                                alt="spongebob">
                                        </mat-card-header>
                                        <mat-card-footer style="text-align: center;margin-top: 2px;">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon">star_rate
                                            </mat-icon>
                                        </mat-card-footer>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="single-box">
                                    <mat-card>
                                        <mat-icon aria-hidden="true" aria-label="Quotation icon"
                                            style="float:right;color:grey">format_quote</mat-icon>
                                        <mat-card-content>Experience the service once and you'll fall in love with the
                                            whole environment here.
                                        </mat-card-content>
                                        <mat-card-header>
                                            <mat-card-title>Ravi Dhayiya</mat-card-title>
                                            <mat-card-subtitle>Freestyle wrestler</mat-card-subtitle>
                                            <img mat-card-sm-image src="../../../assets/images/icons8-jerry-50.png"
                                                alt="Popeye">
                                        </mat-card-header>
                                        <mat-card-footer style="text-align: center;margin-top: 2px;">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                        </mat-card-footer>
                                    </mat-card>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-box">
                                    <mat-card>
                                        <mat-icon aria-hidden="true" aria-label="Quotation icon"
                                            style="float:right;color:grey">format_quote</mat-icon>
                                        <mat-card-content>Time saving is the most important factor for an athlete. Now,
                                            no long waiting in long queues.
                                        </mat-card-content>
                                        <mat-card-header>
                                            <mat-card-title>Sumit Antil</mat-card-title>
                                            <mat-card-subtitle>Professional Javelin Thrower</mat-card-subtitle>
                                            <img mat-card-sm-image
                                                src="../../../assets/images/icons8-harry-potter-50.png" alt="Popeye">
                                        </mat-card-header>
                                        <mat-card-footer style="text-align: center;margin-top: 2px;">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon">star_rate
                                            </mat-icon>
                                        </mat-card-footer>
                                    </mat-card>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-box">
                                    <mat-card>
                                        <mat-icon aria-hidden="true" aria-label="Quotation icon"
                                            style="float:right;color:grey">format_quote</mat-icon>
                                        <mat-card-content>Want the best healthcare service? Here is the destination.
                                            Come here once and you'll visit this app forever.
                                        </mat-card-content>
                                        <mat-card-header>
                                            <mat-card-title>Neeraj Chopra</mat-card-title>
                                            <mat-card-subtitle>Professional javelin thrower</mat-card-subtitle>
                                            <img mat-card-sm-image src="../../../assets/images/icons8-doraemon-50.png"
                                                alt="Popeye">
                                        </mat-card-header>
                                        <mat-card-footer style="text-align: center;margin-top: 2px;">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                        </mat-card-footer>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="single-box">
                                    <mat-card>
                                        <mat-icon aria-hidden="true" aria-label="Quotation icon"
                                            style="float:right;color:grey">format_quote</mat-icon>
                                        <mat-card-content>I wish this has been existed long ago. Have a nice experience
                                            visiting it.
                                        </mat-card-content>
                                        <mat-card-header>
                                            <mat-card-title>Michael Phelps</mat-card-title>
                                            <mat-card-subtitle>Professional Swimmer</mat-card-subtitle>
                                            <img mat-card-sm-image
                                                src="../../../assets/images/icons8-donald-trump-50.png" alt="Popeye">
                                        </mat-card-header>
                                        <mat-card-footer style="text-align: center;margin-top: 2px;">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon">star_rate
                                            </mat-icon>
                                        </mat-card-footer>
                                    </mat-card>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-box">
                                    <mat-card>
                                        <mat-icon aria-hidden="true" aria-label="Quotation icon"
                                            style="float:right;color:grey">format_quote</mat-icon>
                                        <mat-card-content>Good service.<br> Matches Expectation.
                                        </mat-card-content>
                                        <mat-card-header>
                                            <mat-card-title>Usain bolt</mat-card-title>
                                            <mat-card-subtitle>Professional athlete</mat-card-subtitle>
                                            <img mat-card-sm-image src="../../../assets/images/icons8-boar-50.png"
                                                alt="Popeye">
                                        </mat-card-header>
                                        <mat-card-footer style="text-align: center;margin-top: 2px;">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon">star_rate
                                            </mat-icon>
                                        </mat-card-footer>
                                    </mat-card>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-box">
                                    <mat-card>
                                        <mat-icon aria-hidden="true" aria-label="Quotation icon"
                                            style="float:right;color:grey">format_quote</mat-icon>
                                        <mat-card-content>For the first time experience such reliable and comfortable
                                            service.
                                        </mat-card-content>
                                        <mat-card-header>
                                            <mat-card-title>Mirabai chanu</mat-card-title>
                                            <mat-card-subtitle>Professional weightlifter</mat-card-subtitle>
                                            <img mat-card-sm-image src="../../../assets/images/icons8-popeye-50.png"
                                                alt="Popeye">
                                        </mat-card-header>
                                        <mat-card-footer style="text-align: center;margin-top: 2px;">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                class="checked">star_rate</mat-icon>
                                        </mat-card-footer>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"
                    style="color: black;">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"
                    style="color: black;">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Fourth Section -->
<!-- <div class="app">
    <div class="cardList">
        <button class="cardList_btn btn btn--left">
            <div class="icon">
                <svg>
                    <use xlink="arrow-left"></use>
                </svg>
            </div>
        </button>
    </div>
    <div class="cards_wrapper">
        <div class="card current--card">
            <div class="card_image">
                <img src="../../../assets/images/vaccine.jpg">
            </div>
        </div>
        <div class="card next--card">
            <div class="card_image">
                <img src="../../../assets/images/fruits.jpg">
            </div>
        </div>
        <div class="card previous--card">
            <div class="card_image">
                <img src="../../../assets/images/gynaecologist-home.jpg">
            </div>
        </div>
    </div>
    <button class="cardList_btn btn btn--right">
        <div class="icon">
            <svg>
                <use xlink:href="#arrow-right"></use>
            </svg>
        </div>
    </button>
</div>

<div class="infoList">
    <div class="info_wrapper">
        <div class="info current--info">
            <h1 class="text name">Highlands</h1>
            <h4 class="text location">Scotland</h4>
            <p class="text description">The mountains are calling</p>
        </div>
        <div class="info next--info">
            <h1 class="text name">Machu Pichu</h1>
            <h4 class="text location">Peru</h4>
            <p class="text description">Adventure is never far away</p>
        </div>
        <div class="info current--info">
            <h1 class="text name">Chamonix</h1>
            <h4 class="text location">France</h4>
            <p class="text description">Let your dreams come true</p>
        </div>
    </div>
</div>

<div class="app_bg">
    <div class="app_bg_image current--image">
        <img src="../../../assets/images/physiotherapy.jpg">
    </div>
    <div class="app_bg_image next--image">
        <img src="../../../assets/images/physiotherapy.jpg">
    </div>
    <div class="app_bg_image previous--image">
        <img src="../../../assets/images/physiotherapy.jpg">
    </div>
</div> -->
<!-- </div> -->

<!-- <div class="loading_wrapper">
    <div class="loader--text"> Loading...</div>
    <div class="loader">
        <span></span>
    </div>
</div> -->

<!-- <svg class="icons" style="display: none;"> -->
<!-- <symbol id="arrow-left xmlns='http.www.w3.org/2000/svg' viewBox='0 0 512 512'>
         <polyline points='328 112 184 256 328 400' style> -->

<!-- </symbol> -->



<!-- Fourth Section -->
<!-- <section>
    <div class="swiper-container">
        <div class="swipper-wrapper">
            <div class="swipper-slide" style="background-image: url(../../../assets/images/physiotherapy.jpg)"></div>
            <div class="swipper-slide" style="background-image: url(../../../assets/images/vaccine.jpg)"></div>
            <div class="swipper-slide" style="background-image: url(../../../assets/images/vaccine.jpg)"></div>
            <div class="swipper-slide" style="background-image: url(../../../assets/images/vaccine.jpg)"></div>
            <div class="swipper-slide" style="background-image: url(../../../assets/images/vaccine.jpg)"></div>
            <div class="swipper-slide" style="background-image: url(../../../assets/images/vaccine.jpg)"></div>
            <div class="swipper-slide" style="background-image: url(../../../assets/images/vaccine.jpg)"></div>
            <div class="swipper-slide" style="background-image: url(../../../assets/images/vaccine.jpg)"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section> -->





<!-- Fifth section -->
<br>
<div fxLayout="row wrap" fxLayoutGap="50px grid">
    <div fxFlex="30%" fxFlex.xs="100%" fxFlex.md="50%">
        <div class="center">
            <h2 style=" color: white;">Read top articles from health experts</h2>
        </div>
        <h4 id="article" style=" color: white;">Health articles that keep you informed about good health practices and achieve your goals</h4>
        <a mat-raised-button id="doctor">See all articles</a>
    </div>
    <div fxFlex="30%" fxFlex.xs="100%" fxFlex.md="50%">
        <mat-card class="mat-elevation-z4">
            <div class="card-content-wrapper">
                <div class="card-content" class="image">
                    <img src="../../../assets/images/vaccine.jpg">
                </div>
            </div>
            <h4>CORONAVIRUS</h4>
            <a href="https://https://www.fda.gov/" target="_blank">The Role of Health Care During the COVID-19</a>
            <h4>Stephen M. Hahn, M.D.</h4>
        </mat-card>
    </div>
    <div fxFlex="30%" fxFlex.xs="100%" fxFlex.md="50%">
        <mat-card class="mat-elevation-z4">
            <div class="card-content-wrapper">
                <div class="card-content" class="image">
                    <img src="../../../assets/images/fruits.jpg">
                </div>
            </div>
            <h4>VITAMINS AND SUPPLEMENTS</h4>
            <a href="https://https://www.fda.gov/" target="_blank">15 Simple Healthy Eating Tips From Health Experts</a>
            <h4>Juliette steen</h4>
        </mat-card>
    </div>
</div> <br>

<app-footer></app-footer>