<h1 class="w3-display-topmiddle">Which service do you need?</h1>
<form target="_self" id="form2">
    <label for="service"></label>
    <button type="submit" form="form2" formtarget="_self" name="service" id="service" value="Doctor" class="w3-btn" (click)='goBack()'>
        <img src="../../../assets/images/individual.jpg" alt="Doctor">
        <figcaption>Doctor</figcaption>
    </button>
    <button type="submit" form="form2" formtarget="_self" name="service" id="service" value="Babysitter" class="w3-btn" (click)='goBack()'>
        <img src="../../../assets/images/baby-sitting.png" alt="Babysitter">
        <figcaption>Babysitter</figcaption>
    </button>
    <button type="submit" form="form2" formtarget="_self" name="service" id="service" value="ElderCare" class="w3-btn" (click)='goBack()'>
        <img src="../../../assets/images/elderly-care.png" alt="ElderCare">
        <figcaption>ElderCare</figcaption>
    </button>
    <button type="submit" form="form2" formtarget="_self" name="service" id="service" value="special-needs" class="w3-btn" (click)='goBack()'>
        <img src="../../../assets/images/special-needs.png" alt="ElderCare">
        <figcaption>ElderCare</figcaption>
    </button>
    <button type="submit" form="form2" formtarget="_self" id="service" class="w3-btn">
        <img src="../../../assets/images/plus.png" alt="More">
        <figcaption>More</figcaption>
    </button>
</form>
